.all{
    width: 50%;
}
.addNew{
    background-color: #f2f2f2;
    padding: 50px;
}
.Btnadd{
    background-color: #50af50;
    border: 0; !important;
    border-radius: 2px;
    padding: 7px 15px 7px 15px;
}
.input {
    padding: 5px 150px 5px 15px;
}
.name{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#product{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.product:nth-child(odd){
    background-color: #f2f2f2;
}